{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1>Hello!!! This a {{ event.name }} event</h1>
  <div class="row">
    <div class="col">
      <ul style="list-style: none">
        <li>
          <img src="{{ event.image_url }}" alt="" width="800" height="500" />
        </li>
        <li>{{ event.description }}</li>
        <li>{{ event.price }}</li>
        <li>{{ event.address }}</li>
        <li>{{ event.time }}</li>
        <li>{{ event.duration_end }}</li>
      </ul>
      <a class="btn btn-info" href="{{ url_for('/') }}">buy ticket</a>
    </div>
  </div>
</div>
{% endblock %}
