{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1>DB schema</h1>
  <p>this is an simple schema of the project</p>
  <div class="row">
    <div style="width: 640px; height: 480px; margin: 10px; position: relative;">
      <iframe
        allowfullscreen
        frameborder="0"
        style="width:640px; height:480px"
        src="https://www.lucidchart.com/documents/embeddedchart/84976959-8c38-4c2a-bc3a-9b3f8ccb3f76"
        id="tePRDY1reEa."
      ></iframe>
    </div>
  </div>
</div>
{% endblock %}
